.body-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0px;
    height: 3000px;
    width: 95%;
    background-color: #F0F8FF;
}