.body-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0px auto;
    height: 3000px;
    width: 95%;
    background-color: #F0F8FF;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 18%;
    margin: 20px 10px;
}

.attribute-container {
    width: 50%;
    height: 20px;
    margin: 10px 0px;
}

